   * {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
   }

   body {
       font-family: Arial, sans-serif;
   }

   .header {
       position: fixed;
       top: 0;
       width: 100%;
       background-color: (255, 255, 255, 0.7);
       z-index: 1000;
       padding: 10px 20px;
       color: white;
   }

   .nav {
       display: flex;
       justify-content: space-between;
       align-items: center;
       position: relative;
   }

   .logo {
       color: white;
       text-decoration: none;
       font-size: 24px;
       margin-top: 30px;
       margin-left: 30px;
   }

   .logo img {
       width: 80px;
   }

   .hamburger {
       background: none;
       border: none;
       cursor: pointer;
       display: flex;
       flex-direction: column;
       gap: 5px;
       z-index: 2;
       margin-top: 24px;
       margin-right: 50px;
   }

   .hamburger .bar {
       width: 32px;
       height: 3px;
       background-color: white;
       border-radius: 2px;
   }

   .nav-list {
       list-style: none;
       position: absolute;
       top: 60px;
       right: 20px;
       background-color: rgb(255, 255, 255, 0.7);
       padding: 10px;
       border-radius: 5px;
       display: none;
       flex-direction: column;
       gap: 10px;
       z-index: 1;
   }

   .nav-list.active {
       display: flex;
   }

   .nav-list li a {
       color: white;
       text-decoration: none;
       font-size: 18px;
   }

   .hero {
       background-image: url('photos/image1.jpeg');
       background-size: cover;
       background-size: 125%;
       background-repeat: no-repeat;
       background-position: center;
       align-items: center;
       justify-content: center;
       display: flex;
       height: 100vh;
   }

   .banners {
       align-items: center;
       justify-content: center;
       display: flex;
       height: 20px;
       flex-direction: column;
   }

   .logo-gta {
       display: flex;
       margin-left: 20px;
   }

   .logo-gta img {
       width: 560px;
   }

   .play-trailer img {
       width: 100px;
       margin-bottom: 140px;
       margin-top: 2px;
   }

   .data-trailer {
       margin-bottom: 2px;
       margin-left: 10px;

   }

   .data-trailer img {
       width: 120px;
   }

   .data-trailer {
       position: relative;
       display: inline-block;
   }

   .data-trailer img {
       display: flex;
   }

   .play-text {
       width: 300px;
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       color: white;
       font-size: 10px;
       font-weight: bold;
       display: flex;
       margin-left: 75px;
       padding-bottom: 2px;
       text-shadow: 2px 2px 4px rgb(127, 127, 127);
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   }

   .seta {
       margin-bottom: 10px;
   }

   .hero2 {
       background: linear-gradient(to top, rgb(17, 17, 23), rgb(26, 24, 38));

       height: 200vh;
       display: flex;
       flex-direction: column;
   }

   .logo-date img {
       width: 200px;
       margin-left: 660px;
       margin-top: 50px;
       display: flex;
   }

   .title-date {
       margin-top: 50px;
       margin-left: 660px;
       width: 500px;
       display: flex;
       justify-content: center;
       flex-direction: column;
   }

   .COMING {
       font-size: 60px;
       font-weight: bold;
       background: linear-gradient(to bottom, #d33b6a, #d7c96e, rgb(163, 16, 119));
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
       text-align: center;
       font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
       letter-spacing: -5px;
       word-spacing: -7px;
       line-height: 0.9;
   }

   .COMING {
       margin-left: 0px;
       margin-top: 50px;
       height: 400px;

       ;
   }

   .logos-video-game {
       display: flex;
       width: 300px;
       gap: 20px;
       margin-left: 635px;
       margin-bottom: 100px;
   }

   .playstaition {
       width: 100px;

   }

   .xbox {
       width: 150px;
   }

   .container-text-info-vice {
       width: 850px;
       margin-left: 360px;
       margin-top: 150px;
       font-size: 28px;
   }

   .container-text-info-vice h1 {
       background: linear-gradient(to bottom, #b42d78, rgb(251, 191, 126));
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
   }

   .container-text-info-vice p {
       background: linear-gradient(to bottom, #b42d78, rgb(251, 191, 126));
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
   }

   .jason-page-image {
       background-image: url('photos/image-jason-lucia-transition.jpeg');
       background-size: cover;
       background-size: 100%;
       background-repeat: no-repeat;
       background-position: center;
       height: 100vh;
       overflow: hidden;
   }

   .jason-page1 {
       overflow: hidden;
       background: linear-gradient(to top, rgb(6, 5, 9), rgb(26, 24, 38));
       display: flex;
       height: 230vh;
   }

   .info-jason {
       display: flex;
       flex-direction: column;
       margin-right: 20px;
   }

   .title-jason {
       margin-top: 80px;
       margin-left: 300px;
       margin-bottom: 60px;
       white-space: nowrap;

   }

   .title-jason p {
       font-size: 80px;
       display: flex;
       color: #faf1bc;
       font-family: "Anton", sans-serif;
       letter-spacing: 2px;
       word-spacing: 1px;
       line-height: 0.9;

   }

   .subtitle-jason {
       width: 400px;
       margin-left: 300px;
       margin-bottom: 20px;
   }

   .subtitle-jason p {
       font-size: 50px;
       color: #e79db4;
       font-family: Arial, Helvetica, sans-serif;
   }

   .text-jason {
       width: 390px;
       margin-left: 300px;
       color: white;
   }

   .image-jason1 {
       margin-top: 200px;
   }

   .image-jason2 img {
       width: 500px;
       margin-left: 300px;
       margin-top: 50px;
   }

   .image-jason3 img {
       width: 450px;
       margin-top: 20px;
   }

   .image-jason-all {
       flex-direction: column;
       display: flex;
   }

   .jason-page2 {
       background: url(photos/img-jason-gun.jpeg);
       background-position: center;
       background-size: 100%;
       background-repeat: none;
       height: 100vh;
       display: flex;
       overflow: hidden;
   }

   .say-jason {
       width: 520px;
       margin-top: 500px;
       margin-left: 300px;
       font-size: 50px;
       font-family: "Anton", sans-serif;
   }

   .say-jason p {
       color: #f9efac;
   }

   .jason-page3 {
       background: linear-gradient(to top, rgb(17, 17, 23), rgb(26, 24, 38));
       height: 200vh;
       overflow: hidden;
   }

   .text-jason2 {
       width: 400px;
       margin-top: 100px;
       margin-left: 300px;
   }

   .text-jason2 p {
       font-size: 40px;
       color: #ffabc5;
       font-family: Arial, sans-serif;
   }

   .info-text {
       margin-left: 900px;
       width: 310px;
       color: white;
   }

   .images {
       display: flex;
       gap: 20px;
   }

   .images-right {
       display: flex;
       flex-direction: column;
   }

   .img-jason4 {
       margin-top: 100px;
   }

   .img-jason6 {
       margin-left: 270px;
       margin-top: 10px;
   }

   .img-jason4 img {
       width: 600px;
   }

   .img-jason5 img {
       width: 720px;
   }

   .img-jason6 img {
       width: 450px;
   }

   .lucia-page1 {
       background: url(photos/img-lucia1.jpeg);
       background-position: center;
       background-size: 100%;
       background-repeat: none;
       overflow: hidden;
       height: 100vh;
   }

   .lucia-page2 {
       display: flex;
       background: linear-gradient(to top, rgb(12, 12, 17), rgb(26, 25, 49));
       height: 260vh;
       overflow: hidden;
   }

   .images2 {
       display: flex;
   }

   .images-right2 {
       flex-direction: column;
   }

   .image-text-lucia {
       flex-direction: column;
       display: flex;
   }

   .image-text-lucia h1 {
       font-family: "Anton", sans-serif;
       color: #f9efac;
       margin-left: 100px;
       margin-top: 100px;
       font-size: 80px;
       margin-bottom: 50px;

   }

   .lucia-subtitle p {
       margin-left: 100px;
       display: flex;
       color: #ffabc5;
       width: 400px;
       font-size: 40px;
   }

   .lucia-text {
       width: 500px;
       margin-left: 100px;
       margin-top: 50px;
       color: white;
       font-size: 20px;
   }

   .lucia-text p {
       letter-spacing: 1px;
       word-spacing: 1px;
       line-height: 1.4;
   }

   .img-lucia4 img {
       width: 750px;
       margin-top: 100px;
   }

   .img-lucia2 img {
       margin-left: 277px;
   }

   .img-lucia3 img {
       margin-left: 20px;
       width: 560px;
       margin-top: 100px;
   }

   .ohter-text-lucia {
       color: #FFF;
       width: 400px;
       margin-left: 100px;
       margin-top: 80px;
   }

   .lucia-page3 {
       background: url(photos/lucia-img-transition.jpeg);
       background-position: center;
       background-size: 100%;
       background-repeat: none;
       height: 100vh;
       overflow: hidden;
   }

   .say-lucia {
       color: #f9efac;
       font-size: 60px;
       font-family: "Anton", sans-serif;
       margin-top: 500px;
       margin-left: 400px;
   }

   .lucia-page4 {
       background: linear-gradient(to right, rgb(12, 12, 17), rgb(26, 25, 49));
       display: flex;
       height: 230vh;
       overflow: hidden;
   }

   .images-info {
       flex-direction: column;
   }

   .info2 {
       flex-direction: column;
   }

   .text-lucia2 {
       margin-top: 170px;
       width: 400px;
       color: #FFF;
       margin-left: 270px;
       margin-bottom: 100px;
   }

   .text-lucia3 {
       margin-top: 50px;
       font-size: 40px;
       width: 400px;
       ;
       margin-left: 140px;
       background: linear-gradient(to bottom, #ff76a1, rgb(249, 206, 236));
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
       margin-bottom: 100px;

   }

   .img-lucia6 img {
       width: 500px;
   }

   .img-lucia5 img {
       width: 600px;
       margin-left: 200px;
       margin-right: 20px;
   }

   .img-lucia7 img {
       width: 700px;
       margin-bottom: 20px;
   }

   .lucia-page5 {
       background: url(photos/img-jason-lucia.png);
       background-position: center;
       background-size: 100%;
       background-repeat: none;
       height: 150vh;
       overflow: hidden;
   }

   .transition-page1 {
       margin-top: 800px;
       clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
       height: 100vh;
       background: linear-gradient(to right, rgb(8, 6, 12), rgb(26, 25, 49));
       position: relative;
       overflow: hidden;

   }

   .text-transition2 {
       height: 50vh;
       background: linear-gradient(to right, rgb(8, 6, 12), rgb(26, 25, 49));
       display: flex;
   }

   .text-transition {
       display: flex;

   }

   .text {
       margin-left: 330px;
       width: 400px;
       font-size: 100px;
       margin-right: 200px;
       background: linear-gradient(to bottom, #b42d78, rgb(254, 138, 165));
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
   }

   .sub-text {
       background: linear-gradient(to bottom, #b42d78, rgb(251, 126, 195));
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
       font-size: 30px;
       margin-top: 40px;
   }

   .transition-page2 {
       clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
       height: 20vh;
       background: linear-gradient(to right, rgb(8, 6, 12), rgb(26, 25, 49));
       position: relative;
       overflow: hidden;
   }

   .cal-page1 {
       background: linear-gradient(to left, rgba(0, 0, 0, 0.0), rgb(43, 56, 90)), url(photos/background-Cal.png);
       background-position: center;
       background-size: 100%;
       background-repeat: none;
       height: 140vh;
       overflow: hidden;
       display: flex;
   }

   .image-cal img {
       width: 1100px;
       margin-top: 20px;
   }

   .info-cal {
       flex-direction: column;
       margin-top: 140px;
   }

   .font-cal1 {
       font-size: 70px;
       color: #fff1a4;
       font-family: "Anton", sans-serif;
       margin-left: 150px;
       margin-top: 30px;
       margin-bottom: 20px;
   }

   .sub-cal1 {
       margin-left: 150px;
       color: rgb(193, 252, 246);
       font-size: 40px;
       width: 400px;
       margin-bottom: 30px;
   }

   .text-cal1 {
       font-size: 20px;
       color: #FFF;
       margin-left: 150px;
   }

   .cal-page2 {
       height: 380vh;
       background: linear-gradient(to bottom, rgb(43, 56, 90), rgb(11, 29, 38));
       overflow: hidden;
       display: flex
   }

   .cal-img-container {
       flex-direction: column;
   }

   .img-cal3 img {
       width: 800px;
       margin-top: 60px;

   }

   .img-cal5 img {
       width: 800px;
       margin-top: 50px;
   }

   .img-cal4 img {
       width: 600px;
       margin-left: 200px;
       margin-right: 20px;
       margin-top: 120px;
   }


   .cal-img-container {
       flex-direction: column;
   }

   .info-cal-img {
       margin-top: 30px;
       font-size: 60px;
       font-family: "Anton", sans-serif;
       margin-left: 60px;
       color: #f9efac;
   }

   .img-cal6 img {
       width: 500px;
       margin-left: 300px;
       margin-top: 20px;
   }

   .img-cal7 img {
       width: 500px;
       margin-top: 210px;
   }

   .info-cal-img2 {
       font-size: 43px;
       color: rgb(170, 240, 233);
       margin-top: 100px;
       margin-left: 100px;
   }

   .info-cal-img3 {
       color: #FFF;
       font-size: 23px;
       margin-top: 60px;
       margin-left: 100px;
   }

   .leonida-obs {
       overflow: hidden;
       background: linear-gradient(to top, rgb(43, 56, 90), rgb(11, 29, 38));
       display: flex;
   }

   .leonida {
       margin-left: 320px;
   }

   .info-leonida {
       color: #FFF;
       margin-left: 100px;
       margin-top: 30px;
       font-size: 30px;
   }

   .info-img-vice-city {
       overflow: hidden;
       background: linear-gradient(to bottom, rgb(43, 56, 90), rgb(146, 103, 160));
       display: flex;
       height: 140vh;
   }

   .img-vice {
       position: relative;
   }

   .img-vice img {
       width: 1050px;
       margin-top: 230px;
       margin-left: 250px;
   }

   .img-vice button {
       position: absolute;
       transform: translate(-50%, -50%);
       border: none;
       border-radius: 24px;
       height: 50px;
       width: 200px;
       cursor: pointer;
       padding: 10px 20px;
       margin-left: 130px;
       margin-top: 330px;
       top: 50%;
       left: 50%;
       font-size: 10px;
   }

   .transition-page4 {
       clip-path: polygon(0 0, 100% 100%, 100% 0, 0 0);
       height: 20vh;
       position: relative;
       overflow: hidden;
       background: linear-gradient(to left, rgba(0, 0, 0, 0.0), rgb(43, 56, 90))
   }

   .bookie-page1 {
       background: linear-gradient(to left bottom, rgba(0, 0, 0, 0.0), rgb(146, 103, 160)), url(photos/background-bookie.png);
       background-position: center;
       background-size: 100%;
       background-repeat: none;
       height: 130vh;
       overflow: hidden;
       display: flex;
   }

   .bookie-img1 img {
       width: 600px;
       margin-top: 100px;
   }

   .container-info-bookie {
       flex-direction: column;
       margin-left: 200px;
       width: 500px;
       margin-top: 200px;
   }

   .info-bookie {
       font-size: 80px;
       color: #f9efac;
       font-family: "Anton", sans-serif;
   }

   .info-bookie2 {
       font-size: 40px;
       color: #fae56e;
       margin-bottom: 30px;
   }

   .info-bookie3 {
       color: white;
   }

   .bookie-page2 {
       display: flex;
       overflow: hidden;
       height: 220vh;
       position: relative;
       overflow: hidden;
       background: linear-gradient(to bottom, rgb(43, 56, 90), rgb(0, 0, 0))
   }

   .bookie-img2 img {
       width: 800px;
       display: flex;
       margin-left: 20px;
   }

   .bookie-img1 img {
       width: 530px;
       margin-left: 270px;
   }

   .bookie-img3 img {
       width: 800px;
       margin-top: 30px;
   }

   .info-bookie4 {
       margin-left: 100px;
       font-size: 70px;
       margin-top: 40px;
       font-family: "Anton", sans-serif;
       ;
       color: #fff1a4;
   }

   .transition-page5 {
       background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(54, 75, 106));
       height: 10vh;
       overflow: hidden;
   }

   .bookie-page3 {
       background: linear-gradient(to top, rgb(54, 75, 106));
       height: 150vh;
       overflow: hidden;
       display: flex;
   }

   .img-bookie5 {
       display: flex;
   }

   .img-bookie-img img {
       width: 500px;
       margin-left: 300px;
       margin-top: 20px;
   }

   .img-bookie-img2 img {
       width: 500px;
       margin-left: 20px;
       margin-top: 100px;
   }

   .title-bookie5 {
       color: #fae56e;
       font-size: 40px;
       margin-left: 90px;
       margin-top: 60px;
   }

   .info-bookie5 {
       color: white;
       margin-left: 90px;
       margin-top: 20px;
   }

   .leonida-key {
       background: linear-gradient(to top, rgb(150, 76, 143), rgb(54, 75, 106));
       height: 150vh;
   }

   .leonida-img img {
       width: 70%;
       margin-left: 230px;
       margin-top: 230px;
   }

   .leonida-img {
       position: relative;
   }

   .leonida-img button {
       position: absolute;
       transform: translate(-50%, -50%);
       border: none;
       border-radius: 24px;
       height: 50px;
       width: 200px;
       cursor: pointer;
       padding: 10px 20px;
       margin-top: 330px;
       top: 50%;
       left: 50%;
       font-size: 10px;
   }

   .Priest-page1 {
       height: 100vh;
       background: linear-gradient(to left, rgba(0, 0, 0, 0.0), rgb(65, 79, 108)), url(photos/background-priest.png);
       background-position: center;
       background-size: 100%;
       background-repeat: none;
       overflow: hidden;
       display: flex;
   }


   .info-priest {
       margin-left: 200px;
       margin-top: 100px;
       width: 500px;
   }

   .title-priest {
       color: #fff1a4;
       font-family: "Anton", sans-serif;
       font-size: 80px;
       width: 500px;
   }

   .subtitle-priest {
       color: yellow;
       font-size: 40px;
       margin-top: 20px;
       width: 500px;
   }

   .text-priest {
       color: #FFF;
       margin-top: 20px;
       width: 500px;
   }

   .img-priest1 img {
       width: 700px;
       margin-left: 130px;
   }

   .Priest-page2 {
       display: flex;
       overflow: hidden;
       height: 400vh;
       background: linear-gradient(to bottom, rgb(89, 99, 121), rgb(65, 79, 108));
       background-position: center;
       background-size: 100%;
   }

   .container-priest {
       flex-direction: column;
   }

   .img-left1 img {
       margin-top: 200px;
       width: 530px;
       margin-bottom: 20px;
       margin-left: 270px;
   }

   .img-left2 img {
       width: 800px;

   }

   .img-left3 img {
       width: 400px;
       margin-left: 400px;
       margin-right: 50px;
       margin-top: 30px;
   }


   .container-priest2 {
       flex-direction: column;
   }

   .img1-right img {
       width: 700px;
       margin-top: 20px;
       margin-left: 40px;
       margin-bottom: 20px;
   }

   .text-right1 {
       margin-left: 80px;
       font-size: 80px;
       font-family: "Anton", sans-serif;
       margin-top: 30px;
       color: #fae56e;
       margin-bottom: 200px;
   }

   .img2-right img {
       width: 500px;

   }

   .title-text {
       font-size: 40px;
       margin-top: 100px;
       margin-bottom: 30px;
       color: #d7c96e;
       margin-left: 70px;
   }

   .text-right2 {
       color: #FFF;
       margin-left: 70px;
   }

   .transition-page6 {
       overflow: hidden;
       background-position: center;
       background-size: 100%;
       height: 5vh;
       background: linear-gradient(to top, rgb(65, 79, 108));
   }

   .grassrivers {
       overflow: hidden;
       background: linear-gradient(to top, rgb(97, 121, 89), rgb(65, 79, 108));
       background-position: center;
       background-size: 100%;
       height: 110vh;
       position: relative;
   }

   .grassrivers2 img {
       width: 1050px;
       margin-left: 250px;
   }

   .grassrivers2 button {
       position: absolute;
       transform: translate(-50%, -50%);
       border: none;
       border-radius: 24px;
       height: 50px;
       width: 200px;
       cursor: pointer;
       padding: 10px 20px;
       margin-top: 200px;
       top: 50%;
       left: 50%;
       font-size: 10px;
   }

   .realdiniz-page1 {
       background: linear-gradient(to left bottom, rgb(65, 79, 108, 0.0), rgb(65, 79, 108)), url(photos/background-realdimiz.png);
       background-position: center;
       background-size: 100%;
       background-repeat: none;
       height: 130vh;
       overflow: hidden;
       display: flex;
       position: relative;
   }

   .realdiniz img {
       width: 900px;
   }

   .container-diniz {
       flex-direction: column;
   }

   .text-diniz {
       color: #f9efac;
       margin-left: 200px;
       font-family: "Anton", sans-serif;
       font-size: 70px;
       margin-top: 200px;
   }

   .text-diniz2 {
       color: #d7c96e;
       margin-left: 200px;
       font-size: 50px;
       margin-top: 20px;
       margin-bottom: 20px;
   }

   .text-diniz3 {
       color: #FFF;
       margin-left: 200px;
   }